<div class="container">
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success" (click)="listarProveedores()">Listar Proveedores</button>
            <button class="btn btn-success" [routerLink]="['/crear']">Nuevo Proveedor</button>
        </div>
        
    </div>
    <div class="row">
        <div class="col-12">
            <mat-card>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="ID">
                        <th mat-header-cell *matHeaderCellDef> ID</th>
                        <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Empresa">
                        <th mat-header-cell *matHeaderCellDef> Empresa</th>
                        <td mat-cell *matCellDef="let element"> {{element.NameCompany}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Direccion">
                        <th mat-header-cell *matHeaderCellDef> Dirección</th>
                        <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Ciudad">
                        <th mat-header-cell *matHeaderCellDef> Ciudad </th>
                        <td mat-cell *matCellDef="let element"> {{element.City}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Telefono">
                        <th mat-header-cell *matHeaderCellDef> Telefono </th>
                        <td mat-cell *matCellDef="let element"> {{element.Phone}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Opcion">
                        <th mat-header-cell *matHeaderCellDef> Opciones </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-raised-button [routerLink]="['/actualizar',element.Id]">Editar</button>
                            <button mat-raised-button [routerLink]="['/eliminar',element.Id]" color="warn">Eliminar</button>
                        </td>
                        
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </mat-card>
        </div>
        <!-- <div *ngFor="let supplier of suppliers">
            {{supplier.NameCompany}}
        </div> -->
    </div>
</div>