

@{
    ViewBag.Title = "Home Page";

    <table class="table">
            <tr>
                <td><b>Nombre</b></td>
                <td><b>Apellido</b></td>
                <td><b></b>Genero</td>
                <td><b>Foto</b></td>
            </tr>
            @foreach(var personaje in Model.results)
            {
            <tr>
                <td>@personaje.name</td>
                <td>@personaje.species</td>
                <td>@personaje.gender</td>
                <td><img src="@personaje.image" alt="load..." /></td>
            </tr>
            }
        </table>
}

