

@{
    ViewBag.Title = "Home Page";

    <table class="table">
            <tr>
                <td><b>Nombre</b></td>
                <td><b>Apellido</b></td>
                <td><b></b>Genero</td>
                <td><b>Foto</b></td>
            </tr>
            @foreach(var personaje in Model)
            {
            <tr>
                <td>@personaje.Name</td>
                <td>@personaje.Species</td>
                <td>@personaje.Gender</td>
                <td><img src="@personaje.UrlImage" alt="load..." /></td>
            </tr>
            }
        </table>
}

