@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    padding-top: 20px;
}

.form{
    /* background: #706c6c; */
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    /* border-radius: 15px; */
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
    font-size: 14px;
}

.fieldset{
   background-color: #fff;
   width: 80%;
   padding-bottom: 20px;
   padding-left: 40px;
   padding-right: 40px;
   padding-top: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
}

.form__title{
    /* font-family: 'Roboto', sans-serif; */
    font-size: 18px;
    font-weight: bold;
}

.title__check{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #3866f2
}

.form__container{
    margin-top: .6rem;   
    display: grid;
    gap: 2.5em;
}

.form__group{
    position: relative;
    --color: #5757577e;
}

.form__group .date{
    font-size: 12px;
}

.form__input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 12px;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form__input:focus,
.form__input:not(:placeholder-shown){
    color: #4d4646;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label{
    transform: translateY(-12px) scale(.8);
    transform-origin: left top;
    color: #3866f2;
}

.form__label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: .5s;
}

.form__checks
{
    display: flex;
    justify-content: center;
}

.form__checks .form__group{
    padding: 10px; 
}

.form__checks .form__group input{
    cursor: pointer;
}
/* .form__submit{
    background: #3866f2;
    width: 40%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: .9rem;
    padding: .5rem;
    border: none;
    border-radius: .5em;
    cursor: pointer;
} */


.form_buttons{
    display: flex;
    justify-content: space-around;
}

.form_btn{
    background: #3866f2;
    width: 40%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: .9rem;
    padding: .5rem;
    border: none;
    border-radius: .5em;
    cursor: pointer;
}

.form__line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4d4646;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;
}

.form__input:focus ~ .form__line,
.form__input:not(:placeholder-shown) ~ .form__line{
    transform: scale(1);
}

/* -----------------------VALIDACION DE INPUT NO VALIDOS---------------------- */
.input__incorrect .label_incorrect::before{
    content: "Campo no valido"; 
    /* color: #bb2929; */
    display: block;
    color: red;
    animation: shake 300ms;
}

@keyframes shake{
    25% {transform: translate(4px);}
    50% {transform: translate(-4px);}
    75% {transform: translate(4px);}
}

.form__mensaje-exito, .form__mensaje-error{
    display: none;
    color: green;
    animation: shake 300ms;
}

.form__mensaje-error{
    color: red;
}